<script>
  import { extent, filter } from "d3-array";
  import Controls from "./ex1_controls.svelte";
    // Size and margins
  import { json } from "d3-fetch";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { onMount } from "svelte";
  
    const width = 800;
    const height = 400;
    const margin = { top: 5, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    const cities = ["Baltimore", "Chicago", "Los Angeles"];
  
    // Load the data
    let data=null;
    let buildingtypes = [];
    let cityp = 'Baltimore';
    let xValues = [];
    let b={};
    let merged=[];
  
    function selectCity(dataset, city) {
      return dataset.filter(d => d.city == city);
    }
  
    onMount(async () => {
      data = await json("/data/hourly_heating_december.json");
      buildingtypes = [... new Set (data?.map(d => d.buildingtype))];
      const yScale = scaleLinear().domain(extent(data.map(d => d.total_heating_energy))).range([50, 0]);
      for (let j=0 ; j < cities.length;j++){
        let dataByBuilding = [];
        let c=data.filter(x=> x.city==cities[j]);
        for (let i = 0; i < buildingtypes.length; i++) {
          let bType = buildingtypes[i];
          let bFiltered = c.filter(x => x.buildingtype == bType);
          const xScale = scaleTime().domain(extent(bFiltered.map(b => new Date(2021, 11, b.day, b.hour)))).range([ 0, width-180 ]);
          dataByBuilding.push({
            'xBuilding': bFiltered.map(b => xScale(new Date(2021, 11, b.day, b.hour))),
            'yBuilding': bFiltered.map(b => yScale(b.total_heating_energy)),
            'buildingType': bType
          });
        }
         merged.push({
           'city': cities[j],
           'data': dataByBuilding
         });
      }
      console.log(merged);
    });
    

  </script>
{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div transform="translate(20,150)">
  <div transform="translate(100,100)">
  <Controls {data} bind:cityh={cityp}/></div>
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
         {#each merged.filter(c=>c.city == cityp)[0]['data'] as buildType, j}
         <g transform="translate({margin.left},{margin.top+20*j})"> 
            {#each buildType.xBuilding as xValue, i}                
            <circle cx={xValue+150}
                    cy={buildType['yBuilding'][i]}
                    r={1}
                    fill="steelblue"/>
            <g transform="translate(0,50)" dominant-baseline="central"
                tyle="font: 12px arial">
               <text>{buildType['buildingType']}</text>
            </g>
          {/each}
          </g>

        {/each}
    </g>
 

  </svg>
  </div>

{/if} 
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
  
  
  