<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Child from "./ex3_leaf.svelte";

let data = null;

console.log(data)
// data
onMount(async () => {
  data = await json("/data/hourly_electricity_vs_gas_december.json");
});
</script>

{#if data}
<Child {data} />
{/if}


