<script>
  // Properties
  export let cityh='Baltimore';
  

  const cities = ["Baltimore", "Chicago", "Los Angeles"];

</script>

<div class="row">
  <div class="col-4">
      {#each cities as item}
        <label>
          <input type=radio name='City' bind:group={cityh} value={item}>
          {item}
        </label>
      {/each}

  </div>
</div>
