<script>
  import { scaleLinear, scaleTime } from "d3-scale";
  import { area, line } from "d3-shape";
  import { extent, filter } from "d3-array";
  import { max } from "d3-array";
  export let data = null; 

// Size and margins
const width = 900;
const height = 600;
const margin = { top: 10, right: 10, bottom: 10, left: 10 };
const leave_size = 100;

let weeks = [...new Set(data.map(d => d.week))].sort().reverse(); 
let scaletime = scaleLinear().domain([0,(7*24)-1]).range([0,350])
let scale_y_electricity = scaleLinear().range([leave_size/2,0]).domain([0,max(data, d=>d.total_electrity)])
let scale_y_gas = scaleLinear().domain([0,max(data, d=>d.total_gas)]).range([leave_size/2,leave_size])
  let electricity = area().x(d => scaletime(((d.day- 1) % 7)*24+d.hour)).y0(leave_size/2).y1(d => scale_y_electricity(d.total_electrity));
  let gas_area = area().x(d => scaletime(((d.day-1) % 7)*24+d.hour)).y0(d=> leave_size/2).y1(d => scale_y_gas(d.total_gas));
  console.log(data.map(d=> scaletime((d.day-1)%7*24+d.hour)))
</script>
<svg {width} {height}>
  <g transform="translate({margin.left},{margin.top+100})">
  
    {#each weeks as week,i} 
    {#if week=='48'|| week=='50'|| week=='52'}
    <g transform="rotate( -10 0 0) translate({margin.left+400},{margin.top+100*i})">
      <path d={electricity(data.filter(d => d.week==week))} fill="blue"/>
      <path d={gas_area(data.filter(d=> d.week==week))} fill="orange"/></g>
    <g transform="translate({margin.left+400},{margin.top+100*i})">
      <text>Week:{week}</text></g>
    {/if} 
    {#if week=='49'|| week=='51'}
    <g transform="rotate( 10 700 -160) translate({margin.left},{margin.top+100*i})">
       <path transform="scale(-1, 1) translate(-450, 0)" d={electricity(data.filter(d => d.week==week))} fill="blue"/>
      <path transform="scale(-1, 1) translate(-450, 0)" d={gas_area(data.filter(d=> d.week==week))} fill="orange"/></g>
    <g transform="rotate( 0 10 0 ) translate({margin.left+400},{margin.top+100*i})">
      <text>Week:{week}</text></g>
    {/if}  
    {/each}
    
  </g>

</svg>