<script>
  let current = "";
</script>

<style>
  .Sel{
    background-color: aqua;
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary"  class:Sel={current == "messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:Sel={current == "ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:Sel={current == "neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>

