<script>
    const name = 'Alejandra';
    const activities = ['dancing ','going to the cinema ', 'tasting wine '];
</script>
<p>My name is {name} and these are some of my favourite things: {activities} </p>