<script>
  // Properties
  export let data = [];
  export let slider_value=0;
  export let continent=0;
  const continents = ["europe", "asia", "americas", "africa"];
  let years= data.map(a => a.year);
  let long=data.length-1;

</script>

<div class="row">
  <div class="col-4">
    <select class="form-select" bind:value={continent}>
        <option>all</option>
      {#each continents as item}
        <option value={item}>{item}</option>
      {/each}
      
    </select>
  </div>
  <div class="col-5">
    <label class="form-label col-sm-10"> 
      Year: {years[slider_value]}
      <input type="range" min="0" step="1" max={years.length} bind:value={slider_value}/>  
    </label>
  </div>
</div>
