<script>
    let count = 0;
function handleClick(event) {
    count += 1;}
function resetCounter(event){
    count=0;}

</script>


<button on:click={handleClick}> 
    count: {count}
</button>

<button on:click={resetCounter}>
    Reset
</button>
