<script>
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
  let o = 1;
  function opa(a, b) {
    if (a < b) o = 1;
    else o = 0.3;
    return o;
  }
  onMount(
    setInterval(() => {
      index -= 1;
      if (index < 0) {
        clearInterval(index);
      }
    }, 1000)
  );

  $: {
    if (index < 0) {
      color = "green";
    }
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as datapoint, idx}
      <circle
        cx={datapoint}
        cy="35"
        r="10"
        fill={color}
        opacity={opa(index, idx)}
      />
    {/each}
  </g>
</svg>
