<script>
  import { scaleLog } from 'd3-scale';
  import {select} from 'd3-selection';
  import {axisBottom} from 'd3-axis';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Scale 
  const scaleX = scaleLog().domain(([1,10])).range([0,800]);
  // Function Axis
  function MyAxis(element){
    let xAxis=axisBottom().scale(scaleX);
    select(element).call(xAxis)
    .append("text")
    .attr("class","x label")
    .attr("fill","currentcolor")
    .text("X Axis");

  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
    <circle cx={scaleX(datapoint)}
            cy=30
            r=10
            fill="blue"/>
    {/each}
  <g use:MyAxis transform="translate(0,{innerHeight})"></g>
  </g>
</svg>
