<script>

import {axisBottom} from 'd3-axis';
import { scaleLinear } from "d3-scale";
import { select } from "d3-selection";
import { scaleOrdinal } from "d3-scale";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // Scale 
  const scaleX = scaleLinear().domain(([1,10])).range([0,800]);
  const scaleY = scaleLinear().domain(([0,3])).range([innerHeight,0]);
  const myColor = scaleOrdinal().domain(["cat1", "cat2", "cat3"]).range( ["yellow", "royalblue", "red"]);
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Function Axis
  function MyAxis(element){
    let xAxis=axisBottom().scale(scaleX);
    select(element).call(xAxis)
    .append("text")
    .attr("text-anchor","middle")
    .attr("class","x label")
    .attr("fill","currentcolor")
    .text("Axis");
    }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
    <circle cx={scaleX(datapoint.x)}
            cy={scaleY(datapoint.y)}
            fill={myColor(datapoint.category)}
            r=6 />
    <text dx={scaleX(datapoint.x)}
          dy={scaleY(datapoint.y)-scaleY(10)}>
        {datapoint.category}</text>
    <line x={scaleX(datapoint.x)}
          y=30
          stroke="black"></line>
    {/each}
    <g use:MyAxis  transform="translate(0,60)"></g>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
