<script>

import { axisLeft } from "d3-axis";  
import {axisBottom} from 'd3-axis';
 import { scaleBand } from 'd3-scale';
 import { scaleLinear } from 'd3-scale';
 import {select} from 'd3-selection';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

 let yScale = scaleLinear().domain([0,3]).range([innerHeight, 0]);
 let xScale = scaleBand().
  domain(["Netflix","Amazon Prime Video","Disney+","Hulu","Apple TV","Rakuten"])
  .range([0, innerWidth]);

    // Function Axis X
    function MyAxisX(element){
    let xAxis=axisBottom().scale(xScale);
    select(element).call(xAxis)
    .append("text")
    .attr("text-anchor",'middle')
    .attr("class","x label")
    .text("X axis");
    }

        // Function Axis Y
    function MyAxisY(element){
    let yAxis=axisLeft().scale(yScale);
    select(element).call(yAxis)
    .append("text")
    .attr("text-anchor",'middle')
    .attr("class","y label")
    .attr("transform","translate(50,0)")
    .attr("transform","rotate(-90)")
    .text('Viewers');
    }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    {#each data as datapoint}
    <rect x={xScale(datapoint.service)}
          y={yScale(datapoint.viewers)}
          height={yScale(0)-yScale(datapoint.viewers)}
          width=50
          fill="steelblue"></rect>
    {/each}
  </g>
  <g use:MyAxisY class = " y label" transform="translate(40,10)"></g>
  <g use:MyAxisX class = " x label" transform="translate(40,280)"></g>
</svg>
