<script>
import { onMount } from 'svelte';
import { scaleLinear } from 'd3-scale';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

let data = null;
onMount(async () => {
  data = await csv('./static/data/gapminder.json');
});
</script>

<svg viewBox="0 0 {width} {height}">
</svg>

